* {
    padding: 0;
    margin: 0;
  }
  
  html {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    overflow-x: hidden;
    background-color: #ffffff;
    color: #666666;
  }
  
  html, body, .wrapper {
    height: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #323a45;
    font-weight: normal;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0;
    margin: 0;
  }
  
  h1,h2,h3,h4 {
    margin-bottom: 15px;
  }
  
  h5,h5 {
    margin-bottom: 10px;
  }
  
  img {
    border: none;
    outline: none;
    max-width: 100%;
  }
  
  label {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 5px;
    max-width: 100%;
  }
  
  a, .btn, button {
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    outline: medium none;
  }
  
  a img, iframe {
    border: none;
  }
  
  p {
    color: #666666;
    line-height: 26px;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 400;
  }
  
  hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #eee;
  }
  
  pre {
    display: block;
    margin: 0 0 30px;
    padding: 9.5px;
    word-wrap: break-word;
    word-break: break-all;
    color: #333;
    border: 1px solid #ededed;
    border-radius: inherit;
    background-color: #f9f9f9;
    font-size: 13px;
    line-height: 1.42857143;
  }
  
  input:focus, textarea:focus, 
   select:focus {
    outline: none;
    box-shadow: inherit;
  }
  
  ul {
    margin: 0;
    list-style-type: none;
  }
  
  a, a:active, a:focus, a:hover {
    outline: none;
    text-decoration: none;
    color: #323a45;
  }
  
  a:hover {
    color: #323a45;
  }
  
  a {
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
  b, strong {
    font-weight: 900;
  }
  
  .btn.active, .btn:active {
    background-image: inherit !important;
  }
  
  .btn.focus, 
   .btn:active:focus, 
   .btn:active:hover, 
   .btn:focus, 
   .btn:hover {
    outline: 0;
  }
  
  .btn.circle {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
  
  .btn.active, .btn:active {
    outline: 0;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
  }
  
  input {
    border: 1px solid #e7e7e7;
    border-radius: inherit;
    box-shadow: inherit;
    min-height: 50px;
  }
  /* Default CSS */
  .container-half {
    margin: 0 auto;
    width: 60%;
    padding: 0 15px;
  }
  
  .bg-cover {
    background-position: center center;
    background-size: cover;
  }
  
  .bg-fixed {
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
  }
  
  .bg-gray {
    background-color: #f9f9f9;
  }
  
  .bg-theme-small {
    background-color: #edf5ff;
  }
  
  .bg-light {
    background-color: #ffffff;
  }
  
  .bg-theme {
    background-color: #ff5a6e;
  }
  
  .text-light h1, 
   .text-light h2, 
   .text-light h3, 
   .text-light h4, 
   .text-light h5, 
   .text-light h6, 
   .text-light p, 
   .text-light a {
    color: #ffffff;
  }
  
  .shadow {
    position: relative;
    z-index: 1;
  }
  
  .shadow.dark::after {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  
  .shadow.dark-hard::after {
    background: #323a45 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  
  .shadow.light::after {
    background: #ffffff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  
  .shadow.theme::after {
    background: #ff5a6e none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  
  .shadow.theme-hard::after {
    background: #ff5a6e none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  
  .default-padding {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .default-padding-top {
    padding-top: 120px;
  }
  
  .default-padding-top.bottom-less {
    margin-bottom: -30px;
  }
  
  .default-padding-bottom {
    padding-bottom: 120px;
  }
  
  .default-padding.bottom-less {
    padding-top: 120px;
    padding-bottom: 90px;
  }
  
  .default-padding.bottom-30 {
    padding-top: 120px;
    padding-bottom: 30px;
  }
  
  .default-padding.bottom-20 {
    padding-top: 120px;
    padding-bottom: 20px;
  }
  
  .padding-xl {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  
  .carousel-shadow {
    padding-bottom: 70px;
  }
  
  .btn {
    display: inline-block;
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .btn-md {
    padding: 12px 40px 12px;
  }
  
  .btn-sm {
    padding: 8px 35px;
    font-size: 12px;
  }
  
  .btn.btn-sm-pro {
    font-size: 10px;
    font-weight: 600;
    margin-top: 5px;
    padding: 4px 35px;
    display: inline-block;
  }
  
  .btn-border-light {
    border: 2px solid #ffffff;
  }
  
  .btn.btn-sm-pro.btn-border-light:hover, 
   .btn.btn-sm-pro.btn-border-light:focus {
    background-color: #ffffff;
    color: #323a45;
    border: 2px solid #ffffff;
  }
  
  .btn-dark {
    background-color: #323a45;
    color: #ffffff;
    border: 2px solid #323a45;
  }
  
  .btn-dark.border {
    background-color: transparent;
    color: #323a45;
    border: 2px solid #323a45;
  }
  
  .btn-dark.border:hover {
    background-color: #323a45;
    color: #ffffff !important;
    border: 2px solid #323a45;
  }
  
  .btn.btn-light {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #ffffff;
    color: #323a45;
  }
  
  .btn.btn-light:hover, 
   .btn.btn-light:focus {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
  
  .btn.btn-light.effect:hover, 
   .btn.btn-light.effect:focus {
    background-color: #ff5a6e;
    color: #ffffff !important;
    border: 2px solid #ff5a6e;
  }
  
  .btn.btn-light.border {
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
  
  .btn.btn-light.border:hover {
    background: #ffffff none repeat scroll 0 0 !important;
    border: 2px solid #ffffff !important;
    color: #323a45 !important;
  }
  
  .btn-dark:hover, 
   .btn-dark:focus {
    color: #323a45 !important;
    background: transparent;
  }
  
  .bg-dark {
    background: #323a45 none repeat scroll 0 0;
  }
  
  .bg-gradient {
    background: #FF5B6E;
  background: -webkit-linear-gradient(top left, #FF5B6E, #E6011C);
  background: -moz-linear-gradient(top left, #FF5B6E, #E6011C);
  background: linear-gradient(to bottom right, #FF5B6E, #E6011C);
  }
  
  .btn-theme {
    background-color: #ff5a6e;
    color: #ffffff !important;
    border: 2px solid #ff5a6e;
  }
  
  .btn-theme.border {
    background-color: transparent;
    color: #ff5a6e !important;
    border: 2px solid #ff5a6e;
  }
  
  .btn-theme.border:hover {
    background-color: #ff5a6e;
    color: #ffffff !important;
    border: 2px solid #ff5a6e;
  }
  
  .btn-theme.effect:hover, 
   .btn-theme.effect:focus {
    background: #ff5a6e none repeat scroll 0 0;
    border: 2px solid #ff5a6e;
    color: #ffffff;
  }
  
  .btn.btn-sm-lm {
    font-size: 12px;
    padding: 4px 35px;
  }
  
  .waves-shape-inc {
    position: relative;
    z-index: 1;
  }
  
  .waves-shape {
    background: rgba(0, 0, 0, 0) url("assets/img/waves-shape.svg") no-repeat scroll center bottom / cover;
    bottom: 0;
    float: left;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  
  .bg-fixed {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
  
  .bg-cover {
    background-position: center center;
    background-size: cover;
  }
  
  .container-full {
    padding: 0 15px;
    width: 100%;
  }
  
  .oh {
    overflow: hidden;
  }
  
  .less-margin {
    margin: 0;
  }
  
  header {
    position: relative;
  }
  
  header nav.navbar.border.bootsnav.navbar-fixed.no-background {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  header nav.navbar.border.bootsnav.navbar-fixed.no-background ul li a {
    position: relative;
    z-index: 1;
    margin-left: 3px;
  }
  
  header nav.navbar.border.bootsnav.navbar-fixed.no-background .attr-nav ul li a {
    border: medium none;
  }
  
  header nav.navbar.border.bootsnav.navbar-fixed.no-background ul li a::after {
    background: #ffffff none repeat scroll 0 0;
    bottom: -2px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 0;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  
  header nav.navbar.border.bootsnav.navbar-fixed.no-background ul li a.active::after,
  header nav.navbar.border.bootsnav.navbar-fixed.no-background ul li a:hover::after {
    width: 100%;
  }
  
  header nav.navbar.border.bootsnav.navbar-fixed.no-background .attr-nav ul li a.active::after,
  header nav.navbar.border.bootsnav.navbar-fixed.no-background .attr-nav ul li a:hover::after {
    width: 0;
  }
  
  .attr-nav .social.right li {
    margin-left: 20px;
  }
  
  .attr-nav .social li a {
    font-size: 16px;
  }
  
  .navbar .attr-nav.button a {
    border: 1px solid #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 25px !important;
    text-transform: uppercase;
  }
  
  .navbar .attr-nav.button.theme a {
    background: #ff5a6e none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #ffffff;
  }
  
  .navbar .attr-nav.button.circle a {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
  /* Navbar */
  nav.bootsnav.navbar-default.info-topbar .navbar-header {
    display: none;
  }
  
  nav.bootsnav.navbar-default.info-topbar ul li a {
    margin-right: 30px;
    padding: 35px 0;
  }
  
  nav.bootsnav.navbar-default.info-topbar.active-full ul li a {
    margin-right: 0;
    padding: 35px 20px;
  }
  
  nav.navbar.bootsnav.active-border ul.nav > li > a {
    position: relative;
  }
  
  nav.navbar.bootsnav.active-border ul.nav > li.active > a::before {
    background: #ff5a6e none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 15%;
    position: absolute;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    width: 70%;
  }
  
  .attr-nav > a.btn-theme.effect:hover, 
  .attr-nav > a.btn-theme.effect, 
  .attr-nav > a.btn-theme.effect:focus {
    background: #ff5a6e none repeat scroll 0 0;
    border: 2px solid #ff5a6e;
    color: #ffffff !important;
  }
  
  nav.bootsnav.navbar-default.info-topbar.sticked ul li a {
    margin-right: 30px;
    padding: 35px 0;
  }
  
  .attr-nav.social li {
    display: inline-block;
    padding: 25px 0 !important;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }
  
  .attr-nav.social li a {
    border: 1px solid #f4f4f4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ff5a6e;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    padding: 0 !important;
    text-align: center;
    width: 40px;
  }
  
  nav.navbar.bootsnav.sticked .attr-nav.social li {
    display: inline-block;
    padding: 20px 0 !important;
  }
  
  .site-heading h2 {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .site-heading h2 span {
    color: #ff5a6e;
  }
  
  .site-heading h4 {
    display: inline-block;
    padding-bottom: 20px;
    position: relative;
    text-transform: capitalize;
    z-index: 1;
  }
  
  .site-heading h4::before {
    background: #ff5a6e none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
  }
  
  .site-heading h2 span {
    color: #ff5a6e;
  }
  
  .site-heading {
    margin-bottom: 60px;
    overflow: hidden;
    margin-top: -5px;
  }
  
  

